body {
    background-color: #ebebeb !important;
}
.guide line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	  opacity: 0;
	}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.boxed {
  border: 1px solid black ;
}

#player_select {
    padding-top:10px;
}

.player-box {
  font-size: 10px;
  cursor: pointer;
}

.selected {
    border-style: solid;
    border-color: #247ba0;
    border-width: 5px;
}

.mouseovered {
    border-style: none none solid none;
    border-width: 5px;
    border-color: #247ba0;
}

.mouseout {
    border-style: none none solid none;
    border-width: 5px;
    border-color: #ffffff;
}

.arc {
  cursor: pointer;
}

.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

tooltip {
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: #247ba0;	
    border-radius: 8px;			
    pointer-events: none;			
}

.dash-container {
    padding-top:10px;

    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 10px;
    background-color: #ffffff;

    box-shadow: 5px 5px 5px #b9b9b9;

    text-align: center;
}