.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.boxed {
  border: 1px solid black ;
}

.player-box {
  font-size: 10px;
  cursor: pointer;
}

.selected {
  stroke: #00ff9f;
  stroke-width: 3px;
}

.arc {
  cursor: pointer;
}

.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}